In [1]:
# Import necessary libraries
import pandas as pd

# Load dataset with proper parsing
file_path = 'bank.csv'
dataset = pd.read_csv(file_path, sep=';')

# Data exploration
print("Shape of the dataset:", dataset.shape)
print("Columns:", dataset.columns.tolist())
print("Data Types:")
print(dataset.dtypes)
print("Missing Values:")
print(dataset.isnull().sum())
print("Summary Statistics:")
print(dataset.describe(include='all'))

Shape of the dataset: (4521, 17)
Columns: ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
Data Types:
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object
Missing Values:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
Summary Statistics:
                age         job  marital  education default       balance  \
count   4521.000000        4521     4521       4521    4521   4521.000000
unique          NaN          12        3          4       2           NaN
top             NaN  management  married  secondary      no           NaN
freq            NaN         969     2797       2306    4445           NaN
mean      41.170095         NaN      NaN        NaN     NaN   1422.657819
std       10.576211         NaN      NaN        NaN     NaN   3009.638142
min       19.000000         NaN      NaN        NaN     NaN  -3313.000000
25%       33.000000         NaN      NaN        NaN     NaN     69.000000
50%       39.000000         NaN      NaN        NaN     NaN    444.000000
75%       49.000000         NaN      NaN        NaN     NaN   1480.000000
max       87.000000         NaN      NaN        NaN     NaN  71188.000000

       housing  loan   contact          day month     duration     campaign  \
count     4521  4521      4521  4521.000000  4521  4521.000000  4521.000000
unique       2     2         3          NaN    12          NaN          NaN
top        yes    no  cellular          NaN   may          NaN          NaN
freq      2559  3830      2896          NaN  1398          NaN          NaN
mean       NaN   NaN       NaN    15.915284   NaN   263.961292     2.793630
std        NaN   NaN       NaN     8.247667   NaN   259.856633     3.109807
min        NaN   NaN       NaN     1.000000   NaN     4.000000     1.000000
25%        NaN   NaN       NaN     9.000000   NaN   104.000000     1.000000
50%        NaN   NaN       NaN    16.000000   NaN   185.000000     2.000000
75%        NaN   NaN       NaN    21.000000   NaN   329.000000     3.000000
max        NaN   NaN       NaN    31.000000   NaN  3025.000000    50.000000

              pdays     previous poutcome     y
count   4521.000000  4521.000000     4521  4521
unique          NaN          NaN        4     2
top             NaN          NaN  unknown    no
freq            NaN          NaN     3705  4000
mean      39.766645     0.542579      NaN   NaN
std      100.121124     1.693562      NaN   NaN
min       -1.000000     0.000000      NaN   NaN
25%       -1.000000     0.000000      NaN   NaN
50%       -1.000000     0.000000      NaN   NaN
75%       -1.000000     0.000000      NaN   NaN
max      871.000000    25.000000      NaN   NaN